:root{
    --primary-color : #06beb6;
    --secondary-color : #48b1bf;
    --border-color: #ffff;
    --text-white : rgba(250,250,250,1);
    --text-black : rgba(50,50,50,1);
    --shadow-color : rgba(100,100,100,.3);
}

@font-face {
    font-family: "DancingScript";
    src: url("fonts/DancingScript-Medium.ttf");
}
@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito-Regular.ttf");
}
@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito-SemiBold.ttf");
    font-weight: 500;
}
body{
    font-family: 'Nunito';
    min-height: 100vh;
    background-image: 
    linear-gradient(300deg,
        var(--primary-color), 
        var(--secondary-color));
}
.app-name{
    font-family: 'DancingScript';
    text-transform: capitalize;
    font-size: 25px;
}
.header-wrapper{
    width: 100%;
}
.container{
    max-width: 1200px;
}
.header-wrapper-inner{
    margin: 10px auto 0px auto;
    border-radius: 10px;
    padding:10px 15px;
    background-color: rgba(255, 255, 255, .6);
    box-shadow: 2px 2px 4px 0px var(--shadow-color);
}
.menu-wrapper{
    flex-direction: row;
    flex: 1;
    justify-content: center;
}
.menu-item{
    letter-spacing: 1px;
    margin: 5px 10px;
    color:var(--text-black);
    transition: 200ms ease-in;
    position: relative;
    font-weight: 500;
}
.menu-item:hover{
    color:var(--primary-color);
}

.logo-text {
    font-size:20px;
    text-transform:uppercase;
    color:var(--text-black);
}
.authen-view-box{
    width: 200px;
    position: absolute;
    z-index: 100;
    top: 1.5rem;
    left: 1.5rem;
    background-color: white;
    transition: 500ms ease-in;
    border-radius: 5px;
    display: none;
}

.join-now-item:hover .authen-view-box{
    transition: 300ms ease-in;
    display: block;
}

.image-box{
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    transition: 300ms ease-in;
}

.card-box {
    width: 100%;
    background-color: rgba(250, 250, 250, .8);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px var(--shadow-color);
    float: left;
    margin-bottom: 15px;
    break-inside: avoid;
    transition: 300ms ease-in-out;
}

.card-box:hover {
    background-color: var(--text-white);
    box-shadow: 6px 6px 7px 0px var(--shadow-color);
}
.list-card-wrapper{
    column-gap: 15px;
    transition: 300ms ease-in-out;
}

.card-content{
    text-align: justify;
}

.img-spinner{
    width: 24px;
}

.profile_image_header{
    width: 25px;
    height: 25px;
    overflow: hidden;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 300ms ease-in;
    background-color: white;
    
}
.profile-view-image{
    width: 150px;
    height: 150px;
    overflow: hidden;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 300ms ease-in;
    position: relative;
    background-color: white;
}

.card-box:hover {
    transform: translateY(-0.3rem);
}

.change-iamge-profile {
    position: absolute;
    bottom: 0;
    z-index: 99;
}

.preview-select-image{
    width: 300px;
    height: auto;
    position: absolute;
    top: 0%;
    right: 12%;
}
.sticky-side-bar {
    height: fit-content;
    max-height: 500px;
    top: 1rem;
}
.feature-image-diary {
    height: 100%;
    width: 100%; 
    overflow: hidden;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 300ms ease-in;
}
.preview-image-diary{
    width: 100%;
    background-color: #06beb6;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 200ms ease-in;
    position: relative;
}

.select-f-image{
    position: absolute;
    bottom: 0;
    
}
.footer-wrapper{
    position: absolute;
    height: 100px;
}
.authen-box{
    transition: 300ms ease-in-out;
}
#add_more{
    left: 70%;
    bottom: 20%;
    transition: 300ms;
    width: fit-content;
}
.bottom-nav {
    bottom:10px;
    height: fit-content;
}

@media only screen and (max-width: 1024px) {
    .card-box:hover {
        transform: none;
    }

}